body{   
    background-size: auto;
}
/* début du site qui claque */
.header{
    background-size: auto;
    height: auto;
    padding: 0 70px;
    flex-shrink: 0;
    background: #141414;
    border-radius: 0 0 15px 15px;
}
.container-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.img-menu img{
    width: 70px;
    height: 70px;
    visibility: hidden;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;

}
.contact{
    width: 199px;
    height: 53.896px;
    background: rgb(156, 39, 176);
    border-radius: 15px;
    border: none;
 }
 .contact:hover{
    transform: 5.5s;
     background-image:radial-gradient(circle
     farthest-corner at 10% 20%, rgba(156, 39, 176,1) 
     40.8%, rgb(90, 4, 105) 100.2%);
     filter: drop-shadow( 0px 0px 10px rgba(156, 39, 176,1));
 }
 .contact:active{
    filter: brightness(50%);
 }
.link-contact{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.curriculum{
    display: flex;
    width: 240px;
    height: 53.896px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: .2s;
}
.curriculum:hover{
    filter: drop-shadow( 0px 0px 5px rgb(255, 255, 255));
}
.curriculum:active{
    filter: brightness(50%);
}
.projet{
    display: flex;
    width: 127px;
    height: 53.896px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    color: #FFF;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: .2s;
}
.projet:hover{
    filter: drop-shadow( 0px 0px 5px rgb(255,255,255));
}
.projet:active{
    filter: drop-shadow(50%);
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 200px;
}
.text-header{
    width: 615px;
    height: auto;
    flex-shrink: 0;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Jost', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.sous-titre-header{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
/* petit mot modifié dans le texte */
.Antoine{
    color: #ED4BFF;
    font-weight: 700;
}
.IUT{
    font-weight: 700;
}
/* image de l'ordinateur dans le header de la page */
.img-header img{
    width: 100%;
    height: 100%;
}
.icone-next{
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.next{
    position: relative;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
   
    50%{
        height: 50px;
        width: 57px;
        transform: translateY(50px);
    }
}
.icone-next .container_next .next img{
    width: 50px;
    height: 50px;
}
/* Section de la deuxième partie */
.me{
    background-size: auto;
    background-color: #ffffff;
    padding: 100px 70px;
}
.container-me{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text-me{
    width: 450px;
    height: auto;
}
.img-me img{
    width: 420px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.31);
}
.qui-suis-je{
    color: #000;
    font-family: 'Jost';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.paragraphe-autobio{
    margin-top: 50px;
    color: #000;
    font-family: 'Jost';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.9px;
}
.btn-me{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
/* bouton contactez-moi */
.cm{
    width: 199px;
    height: 53.896px;
    background: rgb(156, 39, 176);
    border-radius: 15px;
    border: none;
}
.cm:hover{
     background-image:radial-gradient(circle
     farthest-corner at 10% 20%, rgba(156, 39, 176,1) 
     40.8%, rgb(90, 4, 105) 100.2%);
     filter: drop-shadow( 0px 0px 10px rgba(156, 39, 176,1));
}
.cm:active{
    filter: brightness(50%);
}
.link-cm{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
}
/* bouton curriculum vitae */
.cv{
    display: flex;
    top: 27px;
    color: #000;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
.cv:hover{
    filter: drop-shadow(0px 0px 0px #000);
}
.cv:active{
    filter: brightness(50%);
}
.licv{
    padding-left: 100px;
    margin-top: 15px;
}

/* partie projet */
.project{
    text-align: center;
    padding-top: 50px;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 48px;
}
.container-projet{
    padding: 100px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.container-projet a{
    text-decoration: none;
}
.link-article{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #FFF;
}
article{
    width: 305px;
    height: 450px;
    border-radius: 15px;
    flex-shrink: 0;
}
.art1{
    background-image: url(img/reboot_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 15px #000000;
}
.text-buttom{
    padding: 20px 15px;
    width: auto;
    height: 180px;
    backdrop-filter: blur(50px);
    border-radius: 0px 0px 15px 15px;
}
.container-projet h2{
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.p-article{
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.art2{
    background-image: url(img/Projet_en_cours.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 15px #000000;
}
#countdown{
    color: #000000;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-top: 105px;
}
.art2 .link-article{
    margin-top: 100px;
}
.art3{
    background-image: url(img/Projet_en_cours.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 15px #000000;
}
.art3 .link-article{
    margin-top: 100px;
}
/* fin de projet */
.cm-fin{ 
   margin-bottom: 100px;
   text-align: center;
}
footer{
    background-size: auto;
    background-color: #000;
    border-radius: 15px 15px 0px 0px; 
    padding-top: 100px;
}
/* partie 1, qui est contact dans le footer */
.container-footer-contact{
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
    flex-wrap: wrap;
}
.contact-footer{
    width: 310px;
    height: 362px;
    border-radius: 15px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Jost', sans-serif;
    background: rgba(156, 39, 176, 0.60);
}
footer h2{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
footer p{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-left: 30px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
/* les icones dans l'onglet contact */
.icone-contact{
    width: 250px;
    padding: 40px 30px;
    justify-content: space-between;
    display: flex;
}
.icone-contact img{
    width: 50px;
    height: 50px;   
}
/* petite animation lorsqu'on passe le curseur dessus */
.icone-linkedin:hover{
    filter:drop-shadow(0px 0px 10px #0077B5);
}
.icone-linkedin:active{
    filter: brightness(50%);
}
.icone-behance:hover{
    filter:drop-shadow(0px 0px 10px #1D70FA);
}
.icone-behance:active{
    filter: brightness(50%);
}
.icone-github:hover{
    filter:drop-shadow(0px 0px 10px #262626);
}
.icone-github:active{
    filter: brightness(50%);
}
/* partie 2 du footer, portion stage */
.stage-footer{
    width: 460px;
    height: 362px;
    background: rgba(156, 39, 176, 0.60);
    border-radius: 15px;
}
.stage-footer h2{
    color: #FFF;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
.stage-footer p{
    color: #FFF;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0 30px;
    line-height: 140%;
}
.stage-footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}
.stage-footer a:hover{
    filter: drop-shadow(0px 0px 0.5px #fff);
}
/* troisième partie du footer */
.other-footer{
    width: 310px;
    height: 362px;
    border-radius: 15px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Jost', sans-serif;
    background: rgba(156, 39, 176, 0.60);
}
/* version mobile */
@media screen and (max-width: 1100px) {

    .img-header img{
        width: 200px;
        height: 100%;
    }
}
@media screen and (max-width: 840px){ /* version mobile */
    /* partie du header */
    .header{
        padding: 0 14px;
    }
    .img-menu img{
        visibility: visible;
    }
    .menu{
        visibility: hidden;
    }
    .container-header{
        margin-top: 140px;
    }
    .text-header{
        width: 400px;
    }
    .img-header img{
        visibility: hidden;
        width: auto;
        height: 140px;
    }
    .img-me img{
        width: 350px;
        height: 100%;
    }
    .text-header h1{
        font-size: 40px;
    }
    .text-header p{
        font-size: 24px;
    }
    /* deuxième partie "Qui sui-je ?" */
    .me{
        padding: 50px 14px;
    }
    .img-me img{
        width: 250px;
        height: auto;
    }
}