*{
    box-sizing: border-box;
}
body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #359381;
    pointer-events: none;
    margin-right: 330px;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.navigation a:hover, 
.navigation a.active{
    background: #359381;
    color: #fff;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.hidden{
    height: 100vh;
    overflow: hidden;
}
.parallax img{
    position: absolute;
    left: 0;
    top: 203px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#hill1{
    top: 19.89px;
}
#hill2{
    top: 0px;
}
#hill3{
    left: -20%;
    top: 174px;
}
#hill4{
    top: 170px;
}
#hill5{
    top: 180.37px;
}
#hill6{
    top: 90.96px;
}
#hill7{
    top: 158px;
}
#hill8{
    top: 298px;
    left: -1px;
}
.me{
    position: relative;
    background: #01362B;
    padding: 100px;
}
.img-me{
    margin-top: 100px;
    margin-left: 70px;
    width: 420px;
    height: 514px;
    flex-shrink: 0;
    border-radius: 15px;
    background: lightgray -69.321px -29.027px / 118.233% 120.756% no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.31);
}
.text-me{
    position: absolute;
    margin-left: 620px;
}
.qui-suis-je{
    margin-top: 100px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.paragraphe-autobio{
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.9px;
}
.btn-me{
    margin-top: 100px;
}
/* bouton curriculum vitae */
.cv{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
/* bouton contactez-moi */
.cm{
    margin-top: 65px;
    width: 199px;
    height: 53.896px;
    background: #9C27B0;
    border-radius: 15px;
    border: none;
}
.link-cm{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
}
.project{
    position: relative;
    background: #01362B;
    padding: 50px;
}
.title-project{
    margin-top: 100px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.project-bloc{
    width: 1300px;  
    display: flex;
    flex-direction: row;
    gap: 285px;
    padding-top: 100px;
    padding-left: 70px;
}
.project-bloc img{
    width: 310px;
    height: 450px;
    flex-shrink: 0; 
    border-radius: 15px;
    box-shadow: 0px 4px 20px 10px rgba(255, 255, 255, 0.25);
}
.project-bloc h2{
    position: absolute;
    color: #FFF;
}
.project-bloc p{
    position: absolute;
    color: #FFF;
}